form#form-produit.form-produit-edit.form-horizontal(method="post", action="/produits/create", name="form-produit-edit")
	div.control-group
		label.control-label(for="title") Titre
		div.controls
			input#title(type="text", name="produittitle").required
	div.control-group
		label.control-label.choix(for="select-salle") Choisir une salle :
		div.controls
			select#select-salle(name="new_salle_id").required
				option
				- if (foreignModels.salle != null)
					- each salle in foreignModels.salle
						option(value="#{salle._id}") #{salle.title} - #{salle.adresse} - #{salle.ville} - #{salle.pays}			
	div.control-group
		label.control-label(for="date-arrive") Date d'arrivée
		div.controls
			input#date-arrive.datepicker(type="text", name="produitarrive").required
	div.control-group
		label.control-label(for="date-depart") Date de départ
		div.controls
			//
				label.petit-label (format 'aaaa-mm-jj hh:mm')	
			input#date-depart.datepicker(type="text", name="produitdepart").required
	div.control-group
		label.control-label(for="prix") Prix
		div.controls
			input#prix(type="text", name="produitprix").required €
	div.control-group
		input#old_promotion_id(type="hidden", name="old_promotion_id")
		label.control-label.choix(for="select-promotion") Choisir une promotion :
		div.controls
			select#select-promotion(name="new_promotion_id")
				option
				- if (foreignModels.promotion != null)
					- each promotion in foreignModels.promotion
						option(value="#{promotion._id}") #{promotion.code} - #{promotion.reduction}
	div.control-group
		div.controls			
			button.btn.btn-info #{type}