extends layout

block content
	h1= title
	div.one-column
		- if (docs != null)		
			div.row
				- each data in docs
					div.span3		
						div.annonce-bloc.one-column(data-model="produit", data-id="#{data._id}")
							h2 #{data.salle_id.title}
							img(src="../../images/vignettes/#{data.salle_id.image}", width="80px", height="80px", class="img-polaroid")							
							p.italic Du #{data.arrive.toDateString()} au #{data.depart.toDateString()} - #{data.salle_id.ville}
							p.italic #{data.prix}euros* 
							p.italic Pour #{data.salle_id.capacite} personnes
							br
							- var desc = data.salle_id.description.substr(0,100);
							p #{desc}...
							br						
							a.italic(href="/produits/#{data._id}")>Voir la fiche détaillé
							br
							a.italic(href="")>Ajouter au panier
		- else
			p.error-message Pas de réservations disponibles
			