-if (type != null)
	case type
		when "salle", "promotion"
			genre = "cette"
		when "utilisateur"
			genre = "cet"
		default
			genre = "ce"
	h2= title
	input(type="hidden", value=id)
	p Êtes-vous sûr de vouloir supprimer #{genre} #{type} ?
	form(method="post", action="#{type}s/destroy/#{id}")
		div.align-center
			input.bt-cancel.btn(type="button", name="bt-cancel", value="Annuler")
			input.bt-delete.btn.btn-primary(type="submit", name="bt-delete", value="Supprimer")	
-else 
	div.row
		div.col-md-12					
			div.error-message
				span Une erreur est survenue, veuillez réessayer s'il vous plaît !