extends ../layout

block content
	<!-- Modal connection-->
	include ../forms/connetion-modal
	<!-- Modal ajout panier-->
	include add-cart-modal
	-if (data != null)
		h1= title
		div.pull-left.detailles
			img(src="../../images/vignettes/#{data.salle_id.image}", width="200px", height="200px", class="img-polaroid")
		div.pull-left
			p
				span.separated-header-text Capacité : 
				span #{data.salle_id.capacite} personnes
			p
				span.separated-header-text Catégorie : 
				span Salle de #{data.salle_id.categorie}
				
			p
				span.separated-header-text Date d'arrivée : 
				span #{data.arrive.toDateString()}
			p
				span.separated-header-text Date de départ : 
				span #{data.depart.toDateString()}
			p
				span.separated-header-text Prix : 
				- var prix = data.prix
				- var prix_final = prix
				- var reduction = 0
				- if (data.promotion_id != null) 
					- reduction = data.promotion_id.reduction
					span 
						del #{prix} €
				- prix_final = prix - reduction
				span #{prix_final} € 
				span.italic &nbsp;(hors taxes)
			p
				span.separated-header-text Etat : 
				- if (data.etat == 1)
					- etat = "Loué"
				- else etat = "A louer" 
				span.valeur #{etat}
			- var data_class = "btn btn-info"				
			include add-cart-link
		div.clearfix
		div
			h2 #{data.salle_id.title}
			p.italic #{data.salle_id.description}
		div.well
			h2 Commentaires
			div 
				- if (data.salle_id.commentaires != null)
					- each comment in data.salle_id.commentaires
						h4 
							span.separated-header-text Commenteire de 
							span #{comment.membre_id.pseudo} 
							span.separated-header-text Date 
							span #{comment.date.toDateString()} 
						p
							span.separated-header-text Note 
							span #{comment.note}/10
						p #{comment.comment}
						hr
				- if (session.user_id)
					include ../forms/commentaires/new
					div.clearfix
				- else	
					a.heading-a(href="#modal-connect", role="button", data-toggle="modal") Connectez-vous pour laisser une commentaire >			
	-else
		div.alert.alert-error.absent
			p Ce produit n'existe pas !
