extends ../layout

block content
	<!-- Modal edit-->
	div#modal-salle-edit.modal.hide.fade.draggable(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
		div.modal-header
			button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
			h3 Modifier la salle		
		div.modal-body.salle-edit
		div.modal-footer
			button.btn.btn-default(data-dismiss="modal", aria-hidden="true") Close
			button.btn.btn-info.edit-model-btn Modifier
	
	<!-- Modal delete-->	
	div#modal-delete.modal.hide.fade.draggable(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
		div.modal-header
			button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
			h3 Supprimer la salle
		div.modal-body
			p Êtes-vous sûr de vouloir supprimer cette salle ?
		div.modal-footer
			button.btn.btn-default(data-dismiss="modal", aria-hidden="true") Close
			button.btn.btn-info.delete-confirm Supprimer
	h1=title
	- if (docs != null)
		- each salle in docs
			div.annonce(data-id="#{salle._id}", data-model="salle")
				h2 #{salle.title}
					a.heading-a(href="salles/#{salle._id}") Voir les détailles >>
				div
					img.pull-left(src="../images/vignettes/#{salle.image}")
					div.pull-left
						p
							span.separated-header-text Pays : 
							span #{salle.pays}
						p 
							span.separated-header-text Ville : 
							span #{salle.ville}
						p 
							span.separated-header-text Adresse : 
							span #{salle.adresse}
					div.pull-left
						p 
							span.separated-header-text Code Postale : 
							span #{salle.cp}
						p 
							span.separated-header-text Capacité : 
							span #{salle.capacite}
						p 
							span.separated-header-text Catégorie : 
							span #{salle.categorie}
					div.clearfix
					div
						span.separated-header-text Description : 
						span #{salle.description}
				//
					a.separated-header-text.model-edit-link(href="") Modifier >>
				a.separated-header-text.model-edit-link(href="#modal-salle-edit", role="button", data-toggle="modal") Modifier >>				
				br
				//
					a.separated-header-text.model-delete-link(href="") Supprimer >>
				a.separated-header-text.model-delete-link(href="#modal-delete", role="button", data-toggle="modal") Supprimer >>
		div.pager
			a.pred <<
			a 1
			a 2					
			a.next >> 
	-else 
		div.alert.alert-info.absent
			p Pas de salle à afficher


