extends ../layout

block content
	-if (data != null)
		div.row
			div.span12			
				h1= title			
				div.annonce-bloc.one-column
					img(src="../../images/vignettes/#{data.image}", width="200px", height="200px", class="img-polaroid")
					h2 #{data.title}
					p #{data.description}
					span.italic Capacité: #{data.capacite}. Catégorie: salle de #{data.categorie}
					br
					br
					h2 Informations complémentaires
					p
						span.titre Pays : 
						span.valeur #{data.pays}
					p
						span.titre Ville :
						span.valeur #{data.ville}
					p
						span.titre Adresse : 
						span.valeur #{data.adresse}
					p
						span.titre Code postale : 
						span.valeur #{data.cp}
					div.clear
	-else 
		div.row
			div.span12					
				div.error-message
					span La salle avec identifiant #{id} n'existe pas !