extends ../layout

block content
	-if (data != null)
		h1= title
		div.pull-left.detailles
			img(src="../../images/vignettes/#{data.image}", width="200px", height="200px", class="img-polaroid")
		div.pull-left
			p
				span.separated-header-text Pays : 
				span.valeur #{data.pays}
			p
				span.separated-header-text Ville :
				span.valeur #{data.ville}
			p
				span.separated-header-text Adresse : 
				span.valeur #{data.adresse}
			p
				span.separated-header-text Code postale : 
				span.valeur #{data.cp}
			p
				span.separated-header-text Capacité : 
				span #{data.capacite} personnes
			p
				span.separated-header-text Catégorie : 
				span Salle de #{data.categorie}
		div.clearfix
		div
			h2 #{data.title}
			p #{data.description}
	-else
		div.alert.alert-error
			span La salle avec identifiant #{id} n'existe pas !