extends ../layout

block content
	h1=title
	div.background
	div.produit-edit.popup.draggable
	div.delete.popup.draggable
	div.one-column
		- if (docs != null)
			table(broder="1").center-block.main-table
				tr
					th Date d'arrivée
					th Date de départ
					th Salle
					th Image salle
					th Promotion
					th Réduction
					th Prix
					th Etat
					th Supprimer
					- each produit in docs
						tr(data-id="#{produit._id}", data-model="produit")
							td.model-edit-link #{produit.arrive.toDateString()} 
							//
								#{produit.arrive.toLocaleTimeString()}
							td.model-edit-link #{produit.depart.toDateString()} 
							//
								#{produit.depart.toLocaleTimeString()}
							- if (produit.salle_id != null)
								td.model-edit-link #{produit.salle_id.title}
								td.model-edit-link
									img(src="images/vignettes/#{produit.salle_id.image}", height="50", width="50")
							- else
								td.model-edit-link
								td.model-edit-link
							- if (produit.promotion_id != null) 
								td.model-edit-link #{produit.promotion_id.code}
								td.model-edit-link #{produit.promotion_id.reduction}
							- else
								td.model-edit-link
								td.model-edit-link
							td.model-edit-link #{produit.prix}
							td.model-edit-link #{produit.etat}
							td.model-delete-link
								input( type="button", value="X")
		-else
			p.error-message(colspan="3") Pas de produit à afficher
	
