extends ../layout

block content
	h1=title
	div.background
	div.produit-edit.popup.draggable
	div.delete.popup.draggable
	div.one-column
		- if (docs != null)
			table(broder="1").center-block.main-table
				tr
					th Date d'arrivée
					th Date de départ
					th Salle
					th Image salle
					th Promotion
					th Réduction
					th Prix
					th Etat
					th Modifier
					th Supprimer
					- each produit in docs
						tr(data-id="#{produit._id}", data-model="produit")
							td.model-view-link 
								a(href="produits/#{produit._id}") #{produit.arrive.toDateString()} 
							//
								#{produit.arrive.toLocaleTimeString()}
							td.model-view-link 
								a(href="produits/#{produit._id}") #{produit.depart.toDateString()} 
							//
								#{produit.depart.toLocaleTimeString()}
							- if (produit.salle_id != null)
								td.model-view-link 
									a(href="salles/#{produit.salle_id._id}") #{produit.salle_id.title}
								td.model-view-link
									a(href="salles/#{produit.salle_id._id}") 
										img(src="images/vignettes/#{produit.salle_id.image}", height="50", width="50")
							- else
								td.model-view-link
									a(href="produits/#{produit._id}") 
								td.model-view-link
									a(href="produits/#{produit._id}") 
							- if (produit.promotion_id != null) 
								td.model-view-link 
									a(href="produits/#{produit._id}") #{produit.promotion_id.code}
								td.model-view-link 
									a(href="produits/#{produit._id}") #{produit.promotion_id.reduction}
							- else
								td.model-view-link
									a(href="produits/#{produit._id}") 
								td.model-view-link
									a(href="produits/#{produit._id}") 
							td.model-view-link
								a(href="produits/#{produit._id}") #{produit.prix}
							- if (produit.etat == 1) 
								- etat = "En location"
							- else etat = "A louer"
							td.model-view-link
								a(href="produits/show/#{produit._id}")=etat
							td.model-edit-link
								img(src="images/icons/modify.png")
							td.model-delete-link
								img(src="images/icons/erase.png")
		-else
			p.error-message(colspan="3") Pas de produit à afficher