extends ../layout

block content
	<!-- Modal edit-->
	div#modal-produit-edit.modal.hide.fade.draggable(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
		div.modal-header
			button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
			h3 Modifier le produit		
		div.modal-body.produit-edit
		div.modal-footer
			button.btn(data-dismiss="modal", aria-hidden="true") Close
			button.btn.btn-info.edit-model-btn Modifier
	<!-- Modal delete-->	
	div#modal-delete.modal.hide.fade.draggable(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
		div.modal-header
			button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
			h3 Supprimer le produit
		div.modal-body
			p Êtes-vous sûr de vouloir supprimer ce produit ?
		div.modal-footer
			button.btn(data-dismiss="modal", aria-hidden="true") Close
			button.btn.btn-info.delete-confirm Supprimer
	h1=title
	- if (docs != null)
		table#flip-scroll.cf.table-condensed.table-hover.table-striped.listing.span7
			thead
				tr
					th Nom produit
					th Date d'arrivée
					th Date de départ
					th Salle
					th.hidden-phone.hidden-tablet Image salle
					th Promotion
					th Réduction
					th Prix
					th Etat
					th Modifier
					th Supprimer
			tbody
				- each produit in docs
					- if (produit.promotion_id != null) 
						- promo_id = produit.promotion_id._id
					- else
						- promo_id = ''
					tr(data-id="#{produit._id}", data-model="produit", data-salle="#{produit.salle_id._id}", data-promotion="#{promo_id}")
						td.model-view-link #{produit.title} 
						td.model-view-link #{moment(produit.arrive).format('DD/MM/YYYY HH:mm')}
						//
							#{produit.arrive.toLocaleTimeString()}
						td.model-view-link #{moment(produit.depart).format('DD/MM/YYYY HH:mm')}
						//
							#{produit.depart.toLocaleTimeString()}
						- if (produit.salle_id != null)
							td
								a(href="salles/#{produit.salle_id._id}") #{produit.salle_id.title}
							td.hidden-phone.hidden-tablet
								a(href="salles/#{produit.salle_id._id}") 
									img(src="images/vignettes/#{produit.salle_id.image}", height="50", width="50")
						- else
							td.model-view-link 
							td.model-view-link
						- if (produit.promotion_id != null) 
							td 
								a(href="produits/#{produit._id}") #{produit.promotion_id.code}
							td
								a(href="produits/#{produit._id}") #{produit.promotion_id.reduction}
						- else
							td.model-view-link &nbsp;
							td.model-view-link &nbsp;
						td.model-view-link #{produit.prix}
						- if (produit.etat == 1) 
							- etat = "Loué"
						- else etat = "Libre"
						td.model-view-link=etat
						td.model-edit-link(href="#modal-produit-edit", role="button", data-toggle="modal")
								img(src="images/icons/modify.png")
						td.model-delete-link(href="#modal-delete", role="button", data-toggle="modal")
								img(src="images/icons/erase.png")
		div.clearfix
	- else
		div.alert.alert-info.absent
			p Pas de produit à afficher
	div.add-button
		a.btn.btn-info(href="/produits/new") Ajouter un produit
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		