extends ../layout

block content
	<!-- Modal connection-->
	div#modal-connect.modal.hide.fade.draggable(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
		div.modal-header
			button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
			h3 Connexion
		div.modal-body
			p Connectez-vous pour l'ajouter au panier
			include ../forms/connetion-modal
		div.modal-footer
			button.btn(data-dismiss="modal", aria-hidden="true") Close
			button.btn.btn-info.submit Connexion
		
	-if (data != null)
		h1= title
		div.pull-left.detailles
			img(src="../../images/vignettes/#{data.salle_id.image}", width="200px", height="200px", class="img-polaroid")
		div.pull-left
			p
				span.separated-header-text Capacité : 
				span #{data.salle_id.capacite} personnes
			p
				span.separated-header-text Catégorie : 
				span Salle de #{data.salle_id.categorie}
				
			p
				span.separated-header-text Date d'arrivée : 
				span #{data.arrive.toDateString()}
			p
				span.separated-header-text Date de départ : 
				span #{data.depart.toDateString()}
			p
				span.separated-header-text Prix : 
				- var prix = data.prix
				- if (data.promotion_id != null) 
					- var reduction = data.promotion_id.reduction
					- var prix_final = prix - reduction
					span 
						del #{prix} €
					span &nbsp;&nbsp;&nbsp; #{prix_final} €
				- else
					span #{prix} € 
				span.italic &nbsp;(hors taxes)
			p
				span.separated-header-text Etat : 
				- if (data.etat == 1)
					- etat = "Loué"
				- else etat = "A louer" 
				span.valeur #{etat}
		div.clearfix
		div
			h2 #{data.salle_id.title}
			p.italic #{data.salle_id.description}
		div.well
			h2 Commentaires
			div 
				- each comment in data.salle_id.commentaires
					h4.separated-header-text Commenteire de #{comment.membre_id.pseudo} #{comment.date.toDateString()} #{comment.note}/10
					p #{comment.comment}
					hr
				- if (session.pseudo)
					form#form-commentaire-new.span6(action="commentaires/new", method="post")
						fieldset
							input(type="hidden", value="#{data.salle_id._id}", name="salle")
							legend Ajouter un commentaire
							textarea#commentaire.span3.required(name="commentaire")
							label(for="note") Note
							select#note.span3.required(name="note")
								option
								-for(var i=1; i<=10; i++)
									option(value="#{i}")=i+'/10'
							br
							button.btn.btn-primary.new-model-btn(type="submit", name="sousmettre-commentaire", data-model="commentaire") Sousmettre
					div.clearfix
				- else	
					a.heading-a(href="#modal-connect", role="button", data-toggle="modal") Connectez-vous pour laisser une commentaire >			
	-else
		div.alert.alert-error.absent
			p Ce produit n'existe pas !
