extends ../layout

block content
	<!-- Modal connection-->
	div#modal-connect.modal.hide.fade.draggable(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
		div.modal-header
			button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
			h3 Connexion
		div.modal-body
			p Connectez-vous pour l'ajouter au panier
			include ../forms/connetion-modal
		div.modal-footer
			button.btn(data-dismiss="modal", aria-hidden="true") Close
			button.btn.btn-info.submit Connexion
		
	-if (data != null)
		h1= title
		div.pull-left.detailles
			img(src="../../images/vignettes/#{data.salle_id.image}", width="200px", height="200px", class="img-polaroid")
		div.pull-left
			p
				span.separated-header-text Capacité : 
				span #{data.salle_id.capacite} personnes
			p
				span.separated-header-text Catégorie : 
				span Salle de #{data.salle_id.categorie}
				
			p
				span.separated-header-text Date d'arrivée : 
				span #{data.arrive.toDateString()}
			p
				span.separated-header-text Date de départ : 
				span #{data.depart.toDateString()}
			p
				span.separated-header-text Prix : 
				span #{data.prix}
				span.italic &nbsp;(hors taxes)
			p
				span.separated-header-text Etat : 
				- if (data.etat == 1)
					- etat = "Loué"
				- else etat = "A louer" 
				span.valeur #{etat}
		div.clearfix
		div
			h2 #{data.salle_id.title}
			p.italic #{data.salle_id.description}
	-else
		div.alert.alert-error.absent
			p Ce produit n'existe pas !
	div.well
		h2 Commentaires
		div 
			h4 Commenteire de toto date etc
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
			hr
			h4 Commenteire de toto date etc
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
			hr
			- if (session.pseudo)
				form(action="commentaires/new", method="post")
					div.pull-left
						label(for="commentaire") Ajouter un commentaire
						textarea#commentaire(name="commentaire")
					div.pull-left(style="margin-left:40px;")
						label(for="note") Note
						select#note(name="note")
							-for(var i=1; i<=10; i++)
								option=i+'/10'
						br
						input.btn.btn-primary(value="Sousmettre", name="sousmettre-commentaire")
					div.clearfix
			- else	
				a.heading-a(href="#modal-connect", role="button", data-toggle="modal") Connectez-vous pour laisser une commentaire >
