extends ../layout

block content
	<!-- Modal connection-->
	div#modal-connect.modal.hide.fade.draggable(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
		div.modal-header
			button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
			h3 Connexion
		div.modal-body
			include ../forms/connetion-modal
		div.modal-footer
			button.btn(data-dismiss="modal", aria-hidden="true") Close
			button.btn.btn-info.submit Connexion
			
	<!-- Modal ajout panier-->
	div#modal-panier.modal.hide.fade.draggable(tabindex="-1", role="dialog", aria-labelledby="ajouterPanier", aria-hidden="true")
		div.modal-header
			button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
			h3 Ajouter au panier
		div.modal-body
			p Le produit a bien été ajouté à votre panier
		div.modal-footer
			button.btn(data-dismiss="modal", aria-hidden="true") Continuer mes achats
			a.btn.btn-info.submit(href="/panier") Voir mon panier
	-if (data != null)
		h1= title
		div.pull-left.detailles
			img(src="../../images/vignettes/#{data.salle_id.image}", width="200px", height="200px", class="img-polaroid")
		div.pull-left
			p
				span.separated-header-text Capacité : 
				span #{data.salle_id.capacite} personnes
			p
				span.separated-header-text Catégorie : 
				span Salle de #{data.salle_id.categorie}
				
			p
				span.separated-header-text Date d'arrivée : 
				span #{data.arrive.toDateString()}
			p
				span.separated-header-text Date de départ : 
				span #{data.depart.toDateString()}
			p
				span.separated-header-text Prix : 
				- var prix = data.prix
				- if (data.promotion_id != null) 
					- var reduction = data.promotion_id.reduction
					- var prix_final = prix - reduction
					span 
						del #{prix} €
					span &nbsp;&nbsp;&nbsp; #{prix_final} €
				- else
					span #{prix} € 
				span.italic &nbsp;(hors taxes)
			p
				span.separated-header-text Etat : 
				- if (data.etat == 1)
					- etat = "Loué"
				- else etat = "A louer" 
				span.valeur #{etat}
				- session.test = 'dsfsdfdsfsd'
			- if (session.user_id)
				a.btn.btn-info#add-to-cart(href="#modal-panier", role="button", data-toggle="modal") Ajouter au panier
			- else 
				a.btn.btn-info(href="#modal-connect", role="button", data-toggle="modal") Connectez-vous pour ajouter au panier
			p #{session.test}
		div.clearfix
		div
			h2 #{data.salle_id.title}
			p.italic #{data.salle_id.description}
		div.well
			h2 Commentaires
			div 
				- if (data.salle_id.commentaires != null)
					- each comment in data.salle_id.commentaires
						h4 
							span.separated-header-text Commenteire de 
							span #{comment.membre_id.pseudo} 
							span.separated-header-text Date 
							span #{comment.date.toDateString()} 
						p
							span.separated-header-text Note 
							span #{comment.note}/10
						p #{comment.comment}
						hr
				- if (session.user_id)
					include ../forms/commentaires/new
					div.clearfix
				- else	
					a.heading-a(href="#modal-connect", role="button", data-toggle="modal") Connectez-vous pour laisser une commentaire >			
	-else
		div.alert.alert-error.absent
			p Ce produit n'existe pas !
