extends ../layout

block content
	h1=title
	div.background
	div.membre-edit.popup.draggable
	div.delete.popup.draggable
	div.one-column
		- if (docs != null)
			table(broder="1").center-block.main-table
				tr
					th Pseudo
					th Mot de passe
					th Nom
					th Prénom
					th Email
					th Sexe
					th Adresse
					th Code postale
					th Ville
					th Statut
					th Editer
					th Supprimer
					- each member in docs
						tr(data-id="#{member._id}", data-model="membre")
							td.model-view-link #{member.pseudo}
							td.model-view-link #{member.mdp}
							td.model-view-link #{member.nom}
							td.model-view-link #{member.prenom}
							td.model-view-link #{member.email}
							td.model-view-link #{member.sexe}
							td.model-view-link #{member.adresse}
							td.model-view-link #{member.cp}
							td.model-view-link #{member.ville}
							td.model-view-link #{member.statut}
							td.model-edit-link
								img(src="images/icons/modify.png")
							td.model-delete-link
								img(src="images/icons/erase.png")
		-else
			p.error-message(colspan="3") Pas de membres à afficher