-if (data != null)
	<!-- Modal edit-->
	div#modal-membre-edit.modal-profil-edit.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
		div.modal-header
			button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
			h3 Modification de donnés utilisateur		
		div.modal-body.membre-edit
		div.modal-footer
			button.btn.btn-default(data-dismiss="modal", aria-hidden="true") Close
			button.btn.btn-info.edit-model-btn Modifier
			
			
	<!-- Modal edit-->
	div#modal-commentaire-edit.modal-comment-edit.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
		div.modal-header
			button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
			h3 Modification du commentaire		
		div.modal-body.commentaire-edit
		div.modal-footer
			button.btn.btn-default(data-dismiss="modal", aria-hidden="true") Close
			button.btn.btn-info.edit-model-btn Modifier
	h1= title
	h2 Commandes
	table.table.table-hover(broder="1")
		tr
			th Réference
			th Date
			th Montant
			th Etat
		- if(data.commandes == '')
			tr.warning
				td(colspan="4")	Pas de commande à afficher
		- each commande in data.commandes
			tr(data-id="#{commande._id}", data-model="commande")
				td.model-view-link #{commande.ref}
				td.model-view-link #{commande.date.toDateString()}
				td.model-view-link #{commande.montant} €
				- if (commande.etat == 1)
					etat = "Payé" 
				- else
					etat = "En attente de payement"
				td.model-view-link=etat	
	div.well.pull-left.col-md-2
		h2 Informations profil
		table.table.table-condensed
			tr
				th Pseudo :
				td #{data.pseudo}
			tr
				th Nom :
				td #{data.nom}				
			tr
				th Prénom :
				td #{data.prenom}
			tr
				th Email :
				td #{data.email}
			tr
				th Sexe :
				if (data.sexe == 'f')
					sexe = 'feminin'
				else
					sexe = 'masculin'			
				td #{sexe}
			tr
				th Adresse :
				td #{data.adresse}
			tr
				th Ville :
				td #{data.ville}
			tr
				th Code postale :
				td #{data.cp}
			tr
				th Pays :
				td #{data.pays}
			tr
				th Statut :
				td #{data.statut}
		- if ( data._id == session.user_id )
			button.btn.btn-info.model-edit-link(href=".modal-profil-edit", role="button", data-toggle="modal", data-id="#{data._id}", data-model="membre") Modifier mon profil
	div.well.pull-right.col-md-4
		h2 Commentaires
		div
			- each commentaire in data.commentaires
				p
					span.titre Note : 
					span.valeur #{commentaire.note}
				p
					span.titre Date : 
					span.valeur #{commentaire.date.toDateString()}
				p
					span.titre Comment : 
					span.valeur #{commentaire.comment}
				- if ( data._id == session.user_id )
					p.text-right
						a.model-edit-link(href="#modal-commentaire-edit", role="button", data-toggle="modal", data-id="#{commentaire._id}", data-model="commentaire") Modifier ce commentaire
				hr
	div.clearfix
-else 
	div.alert.alert-error.absent
		p l n'existe pas de membre avec cet identifiant.