extends ../layout

block content
	-if (data != null)
		div.row
			div.span12	
				h1= title		
				div.one-column
					h2 Commandes
					table(broder="1").center-block.main-table
						tr
							th Réference
							th Date
							th Montant
							th Etat
						- if(data.commandes == '')
							tr
								td(colspan="4")	Pas de commande à afficher
						- each commande in data.commandes
							tr.(data-id="#{commande._id}", data-model="commande")
								td.model-view-link #{commande.ref}
								td.model-view-link #{commande.date.toDateString()}
								td.model-view-link #{commande.montant} €
								- if (commande.etat == 1)
									etat = "Payé" 
								- else
									etat = "En attente de payement"
								td.model-view-link=etat	
		div.row	
			div.span6
				div.annonce-bloc
					h2 Informations profil
					p
						span.titre Pseudo : 
						span.valeur #{data.pseudo}
					p
						span.titre Nom : 
						span.valeur #{data.nom}
					p
						span.titre Prénom : 
						span.valeur #{data.prenom}
					p
						span.titre Email : 
						span.valeur #{data.email}
					p
						span.titre Sexe :
						if (data.sexe == 'f')
							sexe = 'feminin'
						else
							sexe = 'masculin'
						span.valeur #{sexe}
					p
						span.titre Adresse : 
						span.valeur #{data.adresse}
					p
						span.titre Ville :
						span.valeur #{data.ville}
					p
						span.titre Code postale : 
						span.valeur #{data.cp}
					p
						span.titre Pays : 
						span.valeur #{data.pays}
					p
						span.titre Statut : 
						span.valeur #{data.statut}
			div.span6
				div.annonce-bloc
					h2 Avis
					div
						- each avis in data.avis
							p
								span.titre Note : 
								span.valeur #{avis.note}
							p
								span.titre Date : 
								span.valeur #{avis.date.toDateString()}
							p
								span.titre Comment : 
								span.valeur #{avis.comment}
							hr
	-else 
		div.row
			div.span12					
				div.error-message
					span Il n'existe pas de membre avec cet identifiant !